@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: #E5F0FF; */
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  /*  */
  /* 03045e */
  background-color: #e9f0fd
  /* 355070; */
  /* #3d5a80; */

}
::-webkit-scrollbar {
  width: 0px;
   /* Width of the scrollbar */
}



