@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #E5F0FF;
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  /*  */
  /* 03045e */
  background-color: #e8f1ff
  /* 355070; */
  /* #3d5a80; */

}
::-webkit-scrollbar {
  width: 0px;
   /* Width of the scrollbar */
}

/* Change calendar day number color */
/* number color */
.fc .fc-daygrid-day-number {
  color: #1E6AB0; /* Use any color you like */
  font-weight: bold;
}
/* title color */
.fc .fc-toolbar-title {
  color: #1E6AB0;
  font-weight: 600;
  font-size: 1.25rem; /* Adjust size as needed */
}
/* weekday header header */
.fc .fc-col-header-cell-cushion {
  color: #1E6AB0;
  font-weight: 500;
  text-decoration: none; /* Removes underline if any */
}


